// Variables
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

// Box Sizing Reset
html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }