// -------------------- Loading Animation START --------------------
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0vh;
  opacity: 0;
  animation: loading 3s;
}

@keyframes loading {
  0% {
    opacity: 1;
    height: 80vh;
  }
  100% {
    opacity: 1;
    height: 80vh;
  }
}

.loading__spinner {
    border: 10px solid $primary-color; 
    border-top: 10px solid secondary-color; 
    border-right: 10px solid lighten($quaternary-color, 90); 
    border-bottom: 10px solid $tertiary-color; 
    border-left: 10px solid $secondary-color; 
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: loading__spinner 3s cubic-bezier(.25,.1,.25,1);
}

@keyframes loading__spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg*3);
    }
}

.content {
  opacity: 1;
  animation: page-load 3s;
}

@keyframes page-load {
  0% {
    opacity: 0;
    visibility: collapse;
  }
  100% {
    opacity: 0;
    visibility: collapse;
  }
}
// -------------------- Loading Animation END --------------------

// -------------------- Buttons START --------------------
.button {
    color: #fff;
    font-weight: bold;
    background: linear-gradient(to bottom, $secondary-color, $primary-color 95%);
    padding: 16px 25px;   
    border: none;
    border-radius: 50px 50px;
    @include box-shadow;
    @include box-shadow-hover;
    &:hover, 
    &:active {
        background: linear-gradient(to bottom, lighten($secondary-color, 2%), lighten($primary-color, 2%) 95%);
    }
}

.button--order {
  padding: 15px 80px;
}
// -------------------- Buttons End --------------------

// -------------------- Cards START --------------------
// Base card focused on restaurant cards primarily
.card {
    border-radius: 15px;
    margin: auto auto;
    overflow: hidden;
    width: 340px;
    margin-bottom: 20px;
    @include box-shadow;
    @include box-shadow-hover;
    @include non-mobile {
        width: 400px;
        margin: 20px 20px;
    } 
    &__link {
        text-decoration: none;
    }  
    &__image {
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 20px;
        position: relative;
    }
    &__title {
        @include title;
        color: $quaternary-color;
        font-size: 18px;
    }
    &__text {
        @include text;
        color: $quaternary-color;
        font-size: 16px;
        margin-top: -10px;
    }
    &__heart-anime {
        color: lighten($quaternary-color, 50%);
        font-size: 25px; 
        margin-right: 30px;  
    }
}

// How Card Modifiers
.card--how {
    background-color: lighten($quaternary-color, 95%);
    height: 70px;
    width: 300px;
    margin: auto 20px;
    &-purple {
        background-color: lighten($primary-color, 35%);
    }
    // Get rid of box shadow effect
    &:hover,
    &:active {
        @include box-shadow;
    }
    @include non-mobile {
        width: 500px;
    }
}

// Menu Cards
.card {
    &--menu{
      width: 90%;
      height: 80px;
      display: flex;
      justify-content: space-between;


      @include non-mobile {
        width: 500px;
      }
    }
    &-info--menu {
      width: 100%;
      margin-top: 15px;
      margin-left: 15px;
    }
    &__title--menu {
      margin:0;
    }
    &__descr {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 0;
      align-items: center;
      width: 100%;
      margin-top: -4px;
    }
    &__text--menu {
      font-size: 15px;
      font-weight: 300;
      align-self: center;
      margin: 0;
    }
    &__text-price {
      font-weight: bold;
      margin-right: 15px;

    }
    &:hover,
    &:active {
        @include box-shadow;
    }
}
// -------------------- Cards END --------------------

// -------------------- Heart Button Animation START --------------------
@keyframes animateHeart {
    0% {
      fill: transparent;
    }
    10% {
      fill: $primary-color;
    }
    25% {
      fill: $primary-color;
    }
    50% {
      fill: $primary-color;
    }
    75% {
      fill: $primary-color;
    }
    90% {
      fill: $primary-color;
    }
    100% {
      fill: $primary-color;
    }
  }

  .card__heart:hover {
    animation: animateHeart 20s ease-in-out;
  }
// -------------------- Heart Button Animation END --------------------

// -------------------- Load Menu Cards Animation START --------------------
// .card--menu {
//   opacity: 0;
// }

// .card-ctn :nth-child(2) {
//   @include load-cards (1s, 0.5s);
// }

// .card-ctn :nth-child(3) {
//   @include load-cards (1s, 1s);
// }

// .card-ctn :nth-child(4) {
//   @include load-cards (1s, 1.5s);
// }

// @keyframes load {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }
// -------------------- Load Menu Cards Animation END --------------------

// -------------------- Menu Card Checkmark Animation START --------------------
// .card {
//   &--menu{
//     overflow: hidden;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     flex: 1;
//     min-width: 0;
//     max-height: 80px;
//   }
//   &-info--menu {
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     width: 100%;
//   }
// }

.checkmark-anime {
  background-color: $tertiary-color;
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  // visibility: hidden;
  // display: none;
  &--icon {
    font-size: 30px;
    color: #fff;
  }
}

// -------------------- Menu Card Checkmark Animation END --------------------
