// -------------------- Fonts START --------------------
// Text
body {
    font-family: $text, sans-serif;
}

// Titles and Logos
h1, h2, h3, h4, h5, h6 {
    font-family: $title-logo, cursive;
}
// -------------------- Fonts END --------------------

// -------------------- LAYOUT START --------------------
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

// -------------------- LAYOUT END --------------------

// -------------------- Header START--------------------
// Home page
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo {
    padding-bottom: 8px;
    &__heading {
        display: none;
    }
    &__image {
        width: 130px;
        height: auto;
        margin-top: 20px;
        margin-left: 15px;
    }
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
    background-color: lighten($quaternary-color, 90%);
    border-top: lighten($quaternary-color, 25%) solid 1px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    &__icon {
        color: lighten($quaternary-color, 25%);
        font-size: 12px;
    }  
    &__text {
        color: lighten($quaternary-color, 25%);
        font-size: 12px;
        font-weight: bold;;
    }
}

// Menu
.logo--menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
    padding-left: 30px;
    @include non-mobile {
        justify-content: space-between;
    } 
}

.logo__homeLink {
    margin-top: 10px;
    font-size: 20px;
    color: lighten($quaternary-color, 10%);
    &:hover,
    &:active {
        color: lighten($quaternary-color, 30%);
    }
}
// -------------------- Header END--------------------

// -------------------- Explore Section START --------------------

.explore {
    display: flex;
    justify-content: center;
    background-color: lighten($quaternary-color, 95%);
    padding-bottom: 50px;
    &--layout {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        justify-content: center;
        align-items: center;
    }
    &__title {
        @include title;
        margin-top: 30px;
    }
    &__text {
        @include text;
        max-width: 280px;
        text-align: center;
        margin-bottom: 30px;
        @include non-mobile {
            max-width: none;
        }
    }
}
// -------------------- Explore Section END --------------------

// -------------------- How it Works Section START --------------------
.how {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    &__title--container {
        width: 300px;
        @include non-mobile {
            width: 500px;
        }
    }
    &__title {
        @include title;
        &--container {
            margin-bottom: -25px;
        }
    } 
    &__formation {
        margin-top: 30px;
    }
    &__steps {
        color: #fff;
        background-color: $primary-color;
        padding: 4px 8px 4px 8px;
        border-radius: 30px;
        font-size: 14px;
        position: absolute;
        z-index: 1; 
        margin-top: 25px; 
        margin-left: 8px;      
    }
    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 35px;
        gap: 20px;
    }
    &__icon {
        color: lighten($quaternary-color, 25%);
        &--color {
            color: $primary-color;
        }
    }
    &__text {
        @include text;
        font-weight: bold;
    }
}
// -------------------- How it Works Section End --------------------

// -------------------- Restaurants Section START --------------------
.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
    margin-top: 50px;
    background-color: lighten($quaternary-color, 95%);
    width: 100%;  
    padding-bottom: 30px;  
    &-title__container {
        padding-left: 40px;
        @include title;
        width: 300px;
        margin-right: 80px;
        @include non-mobile {
            width: fit-content;
        }   
    }   
    &-card__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1100px;
        @include non-mobile {
            gap: 20px;
        }
    }
}

// Restaurants new and heart
.card__new {
    width: 70px;
    height: 30px;
    background-color: $tertiary-color;
    z-index: 1;
    border-radius: 4px;
    text-align: center;
    line-height: 25px;
    position: relative;
    top: -170px;
    left: 110px;
    &--color {
        color: darken($tertiary-color, 50%);
        font-weight: bold;
    }
}


.heart-anime {
    fill: transparent;
    stroke: lighten($quaternary-color, 25%);
    stroke-width: 20;
    z-index: 1;
    margin-right: 40px;
    cursor: pointer;
    svg {
        overflow: visible;
        width: 10rem;
        width: 25px;
      }
}
// -------------------- Restaurant Section END --------------------

// -------------------- Footer START--------------------
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: lighten($quaternary-color, 20%);
    @include non-mobile {
        justify-content: center;
        align-items: center;
    } 
    &__logo {
        width: 120px;
        height: auto;
        padding-left: 20px;
        padding-top: 20px;
        filter: invert(95%) sepia(46%) saturate(2%) hue-rotate(244deg) brightness(110%) contrast(100%);
        &:hover,
        &:active {
            filter: invert(90%) sepia(1%) saturate(25%) hue-rotate(342deg) brightness(94%) contrast(85%);
        }
    }
    &__list {
        list-style: none;
        padding-left: 20px;
        @include non-mobile {
            display: flex;
            gap: 50px;
            align-items: center;
        } 
    }
    &__list-item {
        color: white;
    }
    &__link {
        text-decoration: none;
        display: flex;
        gap: 12px;
        padding-bottom: 5px;
        display: inline-flex;
    }
    &__icon {
        font-size: 12px;
        color: white;
    }
    &__link--color {
        color: white;
        font-size: 14px;
        font-weight: bold;
        &:hover,
        &:active {
            color: darken(white, 20%);
        }
    }
}
// -------------------- Footer END --------------------

// -------------------- Menu Image Section START --------------------
.menu-page {
    width: 100%;
    &__image {
        width: 100%;
        @include non-mobile {
            height: 300px;
            object-fit: cover;
        } 
    }
}
// -------------------- Menu Image END --------------------

// -------------------- Menu Container (menu-ctn) Section START -------------------

// Menu Container
.menu-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lighten($quaternary-color, 90%);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    width: 100%;
    padding-bottom: 60px;
}

.menu__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    @include non-mobile {
        width: 500px;
        justify-content: center;
        gap: 350px;
    }
}

.card-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-bottom: 40px;
}

.menu-tile-ctn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    @include non-mobile {
        width: 500px;
        margin-bottom: -15px;
    } 
    &__underline {
        @include underline;
    }
}

.title--menu {
    font-weight: 300;
}




// -------------------- Menu Container Section (menu-ctn) END --------------------













// -------------------- Menu Section END --------------------