// -------------------- Fonts --------------------
// Text
body {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 100;
}

// Titles and Logos
h1, h2, h3, h4, h5, h6 {
    font-family: 'Shrikhand', cursive;
}