// -------------------- Fonts --------------------
// Text
body {
    font-family: $text, sans-serif;
}

// Titles and Logos
h1, h2, h3, h4, h5, h6 {
    font-family: $title-logo, cursive;
}

// -------------------- Responsiveness --------------------
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


main {
    display: flex;
    flex-direction: column; 
    max-width: 1500px;
}

// -------------------- Header --------------------
.logo__heading {
    display: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo__image {
    width: 130px;
    height: auto;
    margin-top: 20px;
    margin-left: 15px;
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
    background-color: #f2f2f2;
    border-top: #505050 solid 1px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    &__icon {
        color: #484848;
        font-size: 12px;
    }  
    &__text {
        color: #484848;
        font-size: 12px;
        font-weight: bold;;
    }
}


